.App {
  justify-content: center;
  width: 800px;
  height: 800px;
  color: #5a9167;
}

.title {
  justify-content: center;
}

.user-list-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  background-color: #5a9167;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.user-list-heading {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-list-item {
  font-size: 30px;
  margin-bottom: 5px;
  padding: 15px;
  background-color: #1c3e35;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
